<p id="notice"><%= notice %></p>

<strong><%= "Lease Name" %>:</strong>
<%= @lease.name %><br>
<strong><%= "Lease Number" %>:</strong>
<%= @lease.lease_number %><br>
<strong><%= "Wells" %>:</strong>
<%= @lease.wells.count %><br>
<strong><%= "Operators" %>:</strong>
<%= @lease.operators.count %><br><br>


<table>
  <thead>
  <tr>
    <th>Tracking number</th>
    <th>Api number</th>
    <th>Submit Date</th>
    <th>Well Number</th>
    <th>Packet Type</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @wells.each do |well| %>
      <tr>
        <td><%= link_to well.tracking_number, "http://webapps.rrc.state.tx.us/CMPL/viewPdfReportFormAction.do?method=cmplW2FormPdf&packetSummaryId=#{well.tracking_number}" %></td>
        <td><%= link_to well.api_number, well_path(well) %></td>
        <td><%= well.submit_date %></td>
        <td><%= well.well_number %></td>
        <td><%= well.packet_type %></td>
        <td><%= link_to 'Edit', edit_well_path(well) %></td>
        <td><%= link_to 'Destroy', well, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table><br>


<%= link_to 'Edit', edit_lease_path(@lease) %> |
<%= link_to 'Back', leases_path %>
